* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #000;
}

header li,
a,
p {
  font-family: "noto sans";
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

header {
  position: relative;
  width: 100%;
  max-height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  align-items: center;
}
header p {
    font-size: 1.5em;
    color: #6d6d6d;
}
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    font-size: 1.1em;
}
header:hover {
    background-color: rgba(255, 255, 255, 0.071);
}

header:hover a {
    color: grey;
}
header:hover p {
    color: grey;
}

.nav__links a:hover {
    color: white;
}
header p:hover {
    color: white;
}
.search-bar {
    width: 18vw;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.212);
    position: relative;
}
.search-row {
    width: inherit;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
#input-box {
    flex: 1;
    background: transparent;
    border: none;
    outline: 0;
    font-size: 1em;
}

.search-row button {
    border: none;
    outline: none;
    background: transparent;
}

.search-row button .ri-search-line {
    width: 22px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}
#input-box::placeholder {
    color: #fff;
    opacity: 0.6;
}
.sugg-box {
    width: inherit;
}
.sugg-box ul{
    width: inherit;
    position: absolute;
    border-top: 1px solid #999;
    z-index: 100;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 5px 10px;
}
.sugg-box li {
    list-style: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.sugg-box li:hover{
    background-color: aliceblue;
}

header:hover .search-bar{
    background-color: #333;
}
header:hover .ri-search-line{
    color: #fff;
}
header:hover #input-box::placeholder{
    color: #fff;
}
header:hover #input-box{
    background-color: #333;
    color: #fff;
}
