*{
    margin: 0;
    padding: 0;
    font-family: "noto sans";
}
body{
    background-color: #1a1e2b;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1e2b;
}
.contact-page{
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .5);
    /* backdrop-filter: blur(2px); */
}
h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 300px;
    margin: 25px 0;
    border-bottom: 2px solid #ffff;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 1em;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .4s;
    color: #ffff;
}
.input-box input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffff;
    padding: 0 8px 0 30px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -4px;
}


button{
    width: 100%;
    height: 40px;
    border: none;
    background: #3C5B6F;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}
.submitbtn:active{
    box-shadow: none;
    transform: translateY(5px);
}

textarea{
    background-color: #1a1e2b;
    border: none;
    outline: none;
    color: #ffff;
    font-size: 13px;
    width: 100%;
    right: 5px;
    border: 2px solid white;
    margin-bottom: 10px;
}
*::placeholder {
    /* modern browser */
    color: #ffff;
}