/* @font-face {
    font-family: china;
    src: url(./MainFont.woff2);
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "noto sans";
  }
  body {
    background-color: #fff;
  }
  header .txt-format {
    font-family: "noto sans";
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  header {
    position: relative;
    width: 100%;
    max-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
    border-bottom: 1px solid grey;
  }
  header p {
      font-size: 1.8em;
  }
  .nav__links {
      list-style: none;
  }
  .nav__links li {
      display: inline-block;
      padding: 0 20px;
  }
  
  .nav__links li a {
      transition: all 0.3s ease 0s;
      font-size: 1.1em;
  }
  .search-bar {
      width: 18vw;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.212);
      position: relative;
  }
  .search-row {
      width: inherit;
      height: auto;
      display: flex;
      align-items: center;
      padding: 10px 20px;
  }
  #input-box {
      flex: 1;
      background: transparent;
      border: none;
      outline: 0;
      font-size: 1em;
  }
  
  .search-row button {
      border: none;
      outline: none;
      background: transparent;
  }
  
  .search-row button .ri-search-line {
      width: 22px;
      color: #000;
      font-size: 20px;
      cursor: pointer;
  }
  #input-box::placeholder {
      color: #000000;
      opacity: 0.6;
  }
  .sugg-box {
      width: inherit;
  }
  .sugg-box ul{
      width: inherit;
      position: absolute;
      border-top: 1px solid #999;
      z-index: 100;
      background-color: whitesmoke;
      border-radius: 10px;
      padding: 5px 10px;
  }
  .sugg-box li {
      list-style: none;
      border-radius: 20px;
      padding: 5px 10px;
      cursor: pointer;
  }
.title-section {
    position: relative;
    width:100%;
    height: 30vh;
    padding-left: 11%;
    padding-right: 20%;
    text-align: left;
    border-bottom: 1px solid grey;
}

.title-section h1{
    font-size: 2.5em;
    font-weight: 600;
    padding-top: 20px;
    /* color: #fff; */
    
}

.title-section p {
    font-size: 1.2em;
    font-weight: 400;
    color: #000000;
    margin: 20px 0;
}
.container-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* chnage it  */
/* #content {
    background-color: #9AE975;
} */
.title-des {
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 10px 20px;
}
.title-des h3 {
    padding: 15px;
    padding-left: 0;
    font-size: 2em;
    font-weight: 800;
}
.title-des p {
    font-size: 1.2em;
    font-weight: 500;
}


.accordion {
    max-width: 80%;
    margin: auto;
}
.accordion .accordion-li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #9AE975;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(0, 0, 0, 0.15)
}
.accordion .accordion-li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
}

.accordion .accordion-li label::before {
    content: '+';
    margin-right: 10px;
    font-size:  1.6em;
    font-weight: 600;
}
.accordion .accordion-li.active label::before {
    content: '-';
}

.accordion .accordion-li .sub-sections {
    max-height: 0;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    background-color: #fff;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion .accordion-li.active .sub-sections {
    padding: 20px 20px 30px;
    max-height: max-content;
}



.sub-sections li {
    list-style: none;
    padding-bottom: 20px;   
    font-size: 1em;
}

.sub-sections li h4 {
    font-size: 1.2em;
    padding: 10px;
}
.sub-sections li p {
    font-size: 1.1em;
    padding:  0 10px;
    line-height: 25px;
}

.sub-sections li .links {
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding: 10px 0  0 10px;

}

.sub-sections li .links a {
    text-decoration: underline;
    color: black;
    font-weight: 400;
    font-size: 1em;
}

footer{
    width: 100%;
    height: 20vh;
    background-color: royalblue;
    margin-top: 50px;
}